/* styles.css */
.root {
    -fx-background-color: white;
}

.label-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 14px;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 25px;
}

.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
}

.combo-box {
    -fx-pref-width: 200px;
    -fx-pref-height: 25px;
}

.error-label {
    -fx-text-fill: red;
}

