.root-container {
    -fx-background-color: #f4f4f4;
}

.header-label {
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
}

.generate-button {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
}

.numbers-textfield {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
}

.modes-combobox,
.sort-algorithm-combobox {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-pref-height: 30px;
    -fx-font-size: 12px;
}

.continue-button {
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
}

.errorLabel {
    -fx-text-fill: red;
}
